<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.smk.networkprinter" version="1.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Network Printer</name>

    <description>Ethernet Network Printer</description>
    <license>Apache 2.0</license>
    <keywords>android, wifi printer</keywords>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="NetworkPrinter" src="www/NetworkPrinter.js">
        <clobbers target="NetworkPrinter" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NetworkPrinter">
                <param name="android-package" value="com.smk.networkprinter.NetworkPrinter" />
            </feature>
        </config-file>

        <framework src="com.github.SawMaineK:SKNetworkPrinter:1.0.2" />

        <source-file src="src/android/NetworkPrinter.java" target-dir="src/com/smk/networkprinter" />
    </platform>
</plugin>